:host {
    margin: 0;
    padding: 0;
    display: block;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
}

.vehicle-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.v1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative; /* Essential for positioning the image inside */
  display: inline-block; /* Allows width/height and other box model properties */
  padding: 10px 20px;
  border: 2px solid #252525; /* The button's border */
  text-decoration: none;
  color: #454545;
  overflow: hidden; /* Hides the overflowing image border when it scales */
}

.v1:hover {
  background-color: white; /* solid white bg */
  color: rgb(108, 108, 108);            /* text becomes black for contrast */
  border: 2px solid rgb(61, 61, 61);
}