<div style="height: 80px; background-color: rgb(68, 68, 68);"></div>

<div class="vehicle-buttons" style="border-bottom: 2px solid black; height: auto; padding: 10px; background-color: white;">

  <a class="v1" [routerLink]="['infiniti1o']" routerLinkActive="active">INFINITI 1.O</a>
  <a class="v1" [routerLink]="['infiniti2o']" routerLinkActive="active">INFINITI 2.O</a>
  <a class="v1" [routerLink]="['infiniti3o']" routerLinkActive="active">INFINITI 3.O</a>
  <a class="v1" [routerLink]="['infiniti5o']" routerLinkActive="active">INFINITI 5.O</a>
  <a class="v1" [routerLink]="['infiniti6o']" routerLinkActive="active">INFINITI 6.O</a>
  <a class="v1" [routerLink]="['infiniti7o']" routerLinkActive="active">INFINITI 7.O</a>
  <a class="v1" [routerLink]="['infiniti8o']" routerLinkActive="active">INFINITI 8.O</a>
  <a class="v1" [routerLink]="['anantam']" routerLinkActive="active">ANANTAM</a>
</div>

<router-outlet></router-outlet>
