<div class="blank" style="height: 80px; background: linear-gradient(135deg,#0e0e0e 0%, #a1a1a1 60%, rgb(0, 0, 0) 100%);"></div>

<div class="Infiniti-one" style="background-color: #fcba51; display: flex; flex-direction: column;">

    <div class="oneO-container">
        <img src="/assets/image/Vehicles/1.0.jpg" alt="ONE O">
    </div>

    <div class="line-container">
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <div class="oneO-information" style="height: auto;">
        <div class="oneO-sub-one">
            <h1>TOP SPEED</h1>
            <h1>BATTERY CAPACITY</h1>
            <h1>COMPETITIONS WIN</h1>
            <h1>BATTERY CAPACITY</h1>
        </div>
        <div class="oneO-sub-one">
            <h1>WHEELER 3/4</h1>
            <h1>TYPE OF TRANSMISSION</h1>
            <h1>UNIQUE FEATURE</h1>
            <h1>SOLAR OR NOT</h1>
        </div>
    </div>

</div>
