<div class="image-container-eight">
  <img src="/assets/image/Vehicles/8O.jpg" alt="Responsive Image">
</div>

<div class="parent-container">
  <div class="parent-container-inside">
        
    <h1 class="title">INFINITI 8.O</h1>

    <div class="child-container" style="font-family:Arial, Helvetica, sans-serif;">
        <div class="child">
            <div>
                <h2>BLDC Mid-drive Motor</h2>
                <h4 style="color: aliceblue;">3 kW</h4>
            </div>
            <div>
                <h2>Battery</h2>
                <h4 style="color: aliceblue;">51.2 V, 100 Ah 
                    <span style="font-size: small;">Li-ion (6 kWh)</span>
                </h4>
            </div>
            <div>
                <h2>Weight</h2>
                <h4 style="color: aliceblue;">180 kg</h4>
            </div>
        </div>
        <div class="child">
            <div>
                <h2>Top Speed</h2>
                <h4 style="color: aliceblue;">90 kmph</h4>
            </div>
            <div>
                <h2>Range</h2>
                <h4 style="color: aliceblue;">120 km</h4>
            </div>
            <div>
                <h2>Notable</h2>
                <h4 style="color: aliceblue;">Engineered rocker-arm suspension</h4>
            </div>
        </div>
    </div>
  </div>
</div>
