/* :host{
    padding: 0;
    margin: 0;
} */

.blank-blk{
    min-height: 80px;
    background: #000;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Keeps aspect ratio */
  z-index: -1;       /* Send video behind content */
}

.about_1{
  position: relative;
  width: 100%;
  height: 90vh; /* Fullscreen, or set custom height */
  overflow: hidden;
}

.about_3, .about_5, .about_7{
    background: #3d3d3d;
    max-width: 100%;

    display: flex;
    flex-direction: row;
}

.about_2, .about_4, .about_6 {
    background: #f63a3a;
    max-width: 100%;
    
    display: flex;
    flex-direction: row;
}

.test_image{
    max-width: 300px;
    max-height: 300px;
    padding: 0;
    position: relative;
    border: 5px solid;
    border-color: aliceblue;
}
.about_1img{
    padding: 10px;
}

.about_p1{
    padding: 30px;
    background: #00b3ff;
    display: flex;
}