<div class="blank-blk"></div>

<div class="about_1">
  <video autoplay loop playsinline class="bg-video" style="top: 0; bottom: 50px;">
    <source src="assets/video/about_videos/about_top.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>

<div class="about_2" style="height: auto; display: flex; flex-direction: row;  align-items: center; justify-content: center;">

    <div class="about_2_text" style="height: 300px; width: 390px; padding: 10px;">
        <div class="about_2_who_are_we" style="height: auto; background-color: white;">
            <h1>WHO ARE WE?</h1>
        </div>
        <div class="about_2_paragraph" style="height: auto; background-color: white;">
            <p>
                We are a passionate team of innovators, engineers, and problem-solvers, driven by the vision of creating sustainable and intelligent mobility solutions.
                With expertise spanning software, hardware, and design, we collaborate to build technologies that not only push boundaries but also inspire change.
                Every challenge is an opportunity for us to learn, grow, and deliver impactful results.
                Together, we believe in shaping the future of autonomy, efficiency, and clean energy through dedication, creativity, and teamwork.
            </p>
        </div>
    </div>

    <div class="about_2_image" style="height: auto; display: flex;">
        <img src="/assets/image/about_image/hyperion_about.jpeg" alt="out team" style="height: 300px; width: 390px; padding: 10px">
    </div>
</div>

<div class="about_3">
    <div class="about_1img">
        <img class="test_image" src="assets/image/yellow.png" alt="img1+about">
    </div>
    <div class="about_1paragraph">
        <p class="about_p1">INFORMATION WILL BE UPDATED SHORTLY</p>
    </div>
</div>

<div class="about_4">
    <div class="about_1img">
        <img class="test_image" src="assets/image/yellow.png" alt="img1+about">
    </div>
    <div class="about_1paragraph">
        <p class="about_p1">INFORMATION WILL BE UPDATED SHORTLY</p>
    </div>
</div>

<div class="about_5">
    <div class="about_1img">
        <img class="test_image" src="assets/image/yellow.png" alt="img1+about">
    </div>
    <div class="about_1paragraph">
        <p class="about_p1">INFORMATION WILL BE UPDATED SHORTLY</p>
    </div>
</div>

<div class="about_6">
    <div class="about_1img">
        <img class="test_image" src="assets/image/yellow.png" alt="img1+about">
    </div>
    <div class="about_1paragraph">
        <p class="about_p1">INFORMATION WILL BE UPDATED SHORTLY</p>
    </div>
</div>

<div class="about_7">
    <div class="about_1img">
        <img class="test_image" src="assets/image/yellow.png" alt="img1+about">
    </div>
    <div class="about_1paragraph">
        <p class="about_p1">INFORMATION WILL BE UPDATED SHORTLY</p>
    </div>
</div>