<div class="image-container-one">
  <img src="/assets/image/Vehicles/1O.jpg" alt="Responsive Image">
</div>

<div class="parent-container">
  <div class="parent-container-inside">
        
    <h1 class="title">INFINITI 1.O</h1>

    <div class="child-container" style="font-family:Arial, Helvetica, sans-serif;">
        <div class="child">

            <div class="childone">
                <div>
                    <h2>Year</h2>
                    <h4 style="color: aliceblue;">2016</h4>
                </div>
                <div>
                    <h2>Battery</h2>
                    <h4 style="color: aliceblue;">51.2 V, 60 Ah 
                        <span style="font-size: small;">Li-ion (3kWh)</span>
                    </h4>
                </div>
                <div>
                    <h2>Motor</h2>
                    <h4 style="color: aliceblue;">2 kW 
                        <span style="font-size: small;">(BLDC mid-drive)</span>
                    </h4>
                </div>
                <div>
                    <h2>Solar</h2>
                    <h4 style="color: aliceblue;">300 W 
                        <span style="font-size: small;">(roof array)</span>
                    </h4>
                </div>
            </div>
            
        </div>
        <div class="child">
            <div>
                <h2>Weight</h2>
                <h4 style="color: aliceblue;">260 kg</h4>
            </div>
            <div>
                <h2>Top Speed</h2>
                <h4 style="color: aliceblue;">50 kmph</h4>
            </div>
            <div>
                <h2>Range</h2>
                <h4 style="color: aliceblue;">40-60 km</h4>
            </div>
        </div>
    </div>
  </div>
</div>
