.contact-container {
    background: url("/assets/image/sponsors_image/contact_bg.JPG") no-repeat center center;
    background-size: cover;
    height: 750px;
    color: white;
    display: flex;
    justify-content: left; /* horizontally center */
    align-items: top;     /* vertically center */
    padding-top: 105px;
    padding-left: 80px;
}

.con-title p {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.contact-cont {
    display: flex;           /* or use block layout if not needing flex features */
    flex-wrap: wrap;         /* allows children to wrap to the next line */
    align-items: flex-start; /* aligns items at the top */
    gap: 10px;               /* spacing between items, adjust as needed */
    min-height: auto;
}
