.contact-container {
    background: url("/assets/image/STES H/coverimage1.JPG") no-repeat center center;
    background-size: cover;
    height: 800px;
    color: white;
    display: flex;
}



.field{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-weight:400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}