<div class="image-container-three">
  <img src="/assets/image/Vehicles/3O.jpg" alt="Responsive Image">
</div>

<div class="parent-container">
  <div class="parent-container-inside">
        
    <h1 class="title">INFINITI 3.O</h1>

    <div class="child-container">
        <div class="child">
            <div>
                <h1>battery</h1>
                <h4>5666W</h4>
            </div>
            <div>
                <h1>battery</h1>
                <h4>5666W</h4>
            </div>
            <div>
                <h1>battery</h1>
                <h4>5666W</h4>
            </div>
        </div>
        <div class="child">
            <div>
                <h1>battery</h1>
                <h4>5666W</h4>
            </div>
            <div>
                <h1>battery</h1>
                <h4>5666W</h4>
            </div>
            <div>
                <h1>battery</h1>
                <h4>5666W</h4>
            </div>
        </div>
    </div>
  </div>
</div>
