<div class="blank" style="height: 70px; width: 100%; background-color: black;"></div>





























































































<!-- main bg page started-->



<!-- ---------------------------------STARTED---------------------------------- -->
<div style="display: flex; flex-direction: row; border-top: 2px solid black;">
    
    <!-- --------------------------------------------------------------------------- -->
    <!-- make them display flex and in row -->



    <!-- -------------------------------------LIST SUBSYSTEMS---------------------------------------- -->
    <div style="gap:20px ;padding-top: 0px; display: flex; flex-direction: column; background-color: rgb(44, 44, 44); height: 600px; width: 25%; align-items: center; justify-content: center;">


        <!-- sponsors as a title -->
        <div class="title-subsyst">
            SUBSYSTEMS
        </div>



        <!-- --------MAKING COLUMNS--------- -->
        <div style="width: 250px; gap: 20px; padding-top: 0px; display:flex; flex-direction: column; justify-content: center; align-items: left;">

            <!-- ============================STEERING button and pointer======================== -->
            <div class="your-btn" style="display: flex; flex-direction: row; gap: 30px;">
                <div class="system A">
                    <a (mouseenter)="showOverlay(1)" (mouseleave)="hideOverlayWithDelay()">STEERING</a>
                </div>

                <div class="triangle" *ngIf="activeOverlay === 1"></div>
            </div>

            
            <!-- ============================SUSPENSION button and pointer======================== -->
            <div class="your-btn" style="display: flex; flex-direction: row; gap: 30px;">
                <div class="system A">
                    <a (mouseenter)="showOverlay(2)" (mouseleave)="hideOverlayWithDelay()">SUSPENSION</a>
                </div>

                <div class="triangle" *ngIf="activeOverlay === 2"></div>
            </div>

            
            <!-- ============================CAE button and pointer======================== -->
            <div class="your-btn" style="display: flex; flex-direction: row; gap: 30px;">
                <div class="system A">
                    <a (mouseenter)="showOverlay(3)" (mouseleave)="hideOverlayWithDelay()">CAE</a>
                </div>

                <div class="triangle" *ngIf="activeOverlay === 3"></div>
            </div>

            
            <!-- ============================DESIGN button and pointer======================== -->
            <div class="your-btn" style="display: flex; flex-direction: row; gap: 30px;">
                <div class="system A">
                    <a (mouseenter)="showOverlay(4)" (mouseleave)="hideOverlayWithDelay()">DESIGN</a>
                </div>

                <div class="triangle" *ngIf="activeOverlay === 4"></div>
            </div>

            
            <!-- ============================BRAKING button and pointer======================== -->
            <div class="your-btn" style="display: flex; flex-direction: row; gap: 30px;">
                <div class="system A">
                    <a (mouseenter)="showOverlay(5)" (mouseleave)="hideOverlayWithDelay()">BRAKING</a>
                </div>

                <div class="triangle" *ngIf="activeOverlay === 5"></div>
            </div>


            <!-- ============================TRANSMISSION button and pointer======================== -->
            <div class="your-btn" style="display: flex; flex-direction: row; gap: 30px;">
                <div class="system A">
                    <a (mouseenter)="showOverlay(6)" (mouseleave)="hideOverlayWithDelay()">TRANSMISSION</a>
                </div>

                <div class="triangle" *ngIf="activeOverlay === 6"></div>
            </div>


            <!-- ============================ELECTRICAL button and pointer======================== -->
            <div class="your-btn" style="display: flex; flex-direction: row; gap: 30px;">
                <div class="system A">
                    <a (mouseenter)="showOverlay(7)" (mouseleave)="hideOverlayWithDelay()">ELECTRICAL</a>
                </div>

                <div class="triangle" *ngIf="activeOverlay === 7"></div>
            </div>


            <!-- ============================SOLAR button and pointer======================== -->
            <div class="your-btn" style="display: flex; flex-direction: row; gap: 30px;">
                <div class="system A">
                    <a (mouseenter)="showOverlay(8)" (mouseleave)="hideOverlayWithDelay()">SOLAR</a>
                </div>

                <div class="triangle" *ngIf="activeOverlay === 8"></div>
            </div>


            <!-- ============================AUTONOMOUS button and pointer======================== -->
            <div class="your-btn" style="display: flex; flex-direction: row; gap: 30px;">
                <div class="system A">
                    <a (mouseenter)="showOverlay(9)" (mouseleave)="hideOverlayWithDelay()">AUTONOMOUS</a>
                </div>

                <div class="triangle" *ngIf="activeOverlay === 9"></div>
            </div>


            <!-- ============================MEDIA button and pointer======================== -->
            <div class="your-btn" style="display: flex; flex-direction: row; gap: 30px;">
                <div class="system A">
                    <a (mouseenter)="showOverlay(10)" (mouseleave)="hideOverlayWithDelay()">MEDIA</a>
                </div>

                <div class="triangle" *ngIf="activeOverlay === 10"></div>
            </div>


        </div>


        <!-- --------------------------------------------Recruitment link------------------------------------------------------- -->
        <div class="recruitment">
            <a style="color:white;" href="https://docs.google.com/forms/d/e/1FAIpQLSfJilmm3gLGQkT_OffeSMjEvF-sFZZhIz1hJn8D20SrD1ZdSQ/viewform">
                RECRUITMENT FORM
            </a>
        </div>

    </div>

    <!-- Information inside circle -->
    <div style="align-items:center; display: flex; flex-direction: column; justify-content: center; background-color: rgb(255, 255, 255); height: 600px; width: 75%;">
        <!-------------------------------------CIRCLE STARTED--------------------------------------- -->
        <div style="height: 550px; width: 550px; background-color: rgb(255, 255, 255); border: 2px solid black; border-radius: 50%;  display: flex; justify-content: center; align-items: center;">


            <div class="functioning" *ngIf="activeOverlay === null">
                ALL SUB SYSTEMS IN HYPERION
            </div>

            <div class="functioning" *ngIf="activeOverlay === 1">
                STEERING
            </div>
            
            
            <div class="functioning" *ngIf="activeOverlay === 2">
                SUSPENSION
            </div>
            
            
            <div class="functioning" *ngIf="activeOverlay === 3">
                CAE
            </div>
            
            
            <div class="functioning" *ngIf="activeOverlay === 4">
                DESIGN
            </div>
            
            
            <div class="functioning" *ngIf="activeOverlay === 5">
                BRAKING
            </div>
            
            
            <div class="functioning" *ngIf="activeOverlay === 6">
                TRANSMISSION
            </div>
            
            
            <div class="functioning" *ngIf="activeOverlay === 7">
                ELECTRICAL
            </div>
            
            
            <div class="functioning" *ngIf="activeOverlay === 8">
                SOLAR
            </div>
            
            
            <div class="functioning" *ngIf="activeOverlay === 9">
                AUTONOMOUS DRIVING
            </div>
            
            
            <div class="functioning" *ngIf="activeOverlay === 10">
                MEDIA
            </div>
        </div>
    </div>
</div>