<div class="blank" style="height: 70px; width: 100%; background-color: black;"></div>




<!-- main bg page started-->



<!-- ---------------------------------STARTED---------------------------------- -->
<div style="display: flex; flex-direction: row;">

    <!-- --------------------------------------------------------------------------- -->
    <!-- make them display flex and in row -->



    <!-- -------------------------------------LIST SUBSYSTEMS---------------------------------------- -->
    <div style="background-color: aqua; height: 600px; width: 30%; align-items: center; justify-content: center;">

        <!-- --------MAKING COLUMNS---------- -->
        <div style="padding-top: 100px; display:flex; flex-direction: column; justify-content: center; align-items: center;">
            <div>
                <a>STEERING</a>
            </div>
            
            <div>
                <a>SUSPENSION</a>
            </div>

            <div>
                <a>CAE</a>
            </div>

            <div>
                <a>DESIGN</a>
            </div>

            <div>
                <a>BRAKING</a>
            </div>

            <div>
                <a>TRANSMISSION</a>
            </div>

            <div>
                <a>ELECTRICAL</a>
            </div>

            <div>
                <a>SOLAR</a>
            </div>

            <div>
                <a>AUTONOMOUS DRIVING</a>
            </div>

            <div>
                <a>MEDIA</a>
            </div>

        </div>
    </div>

    <!-- Information inside circle -->
    <div style="align-items:center; display: flex; flex-direction: column; justify-content: center; background-color: rgb(121, 255, 44); height: 600px; width: 70%;">
        <!-------------------------------------CIRCLE STARTED--------------------------------------- -->
        <div style="height: 550px; width: 550px; background-color: yellow; border: 3px solid black; border-radius: 50%;"></div>
    </div>
</div>