<div class="image-container-two">
  <img src="/assets/image/Vehicles/2O.jpg" alt="Responsive Image">
</div>

<div class="parent-container">
  <div class="parent-container-inside">
        
    <h1 class="title">INFINITI 2.O</h1>

    <div class="child-container" style="font-family:Arial, Helvetica, sans-serif;">
        <div class="child">
            <div>
                <h2>Year</h2>
                <h4 style="color: aliceblue;">2017</h4>
            </div>
            <div>
                <h2>BLDC Hub Motor</h2>
                <h4 style="color: aliceblue;">2000 W</h4>
            </div>
            <div>
                <h2>Solar Panel</h2>
                <h4 style="color: aliceblue;">340 W</h4>
            </div>
        </div>
        <div class="child">
            <div>
                <h2>Number of Wheels</h2>
                <h4 style="color: aliceblue;">3</h4>
            </div>
            <div>
                <h2>Battery</h2>
                <h4 style="color: aliceblue;">80.6 Ah 60 V</h4>
            </div>
            <div>
                <h2>Speed</h2>
                <h4 style="color: aliceblue;">50 kmph</h4>
            </div>
        </div>
    </div>
  </div>
</div>
