<nav style=" padding:0;">

  <div class="STESHYPERION" style="padding: 0px; padding-top: 10px; padding-left: 10px; border-bottom: 2px #fff;">
    <img class="Hyperion-logo" src="/assets/image/sponsors_image/HYP LOGO/revival white .png" alt="SCOELOGO" style="min-width: 70px;
  max-height: 60px;">
  </div>

  <div class="tabs" style="font-size: small;">
    <a class="child" routerLink="" routerLinkActive="active">HOME</a>
    <a class="child" routerLink="about" routerLinkActive="active">ABOUT</a>
    <a class="child" routerLink="team" routerLinkActive="active">TEAM</a>
    <a class="child" routerLink="sponsors" routerLinkActive="active">SPONSORS</a>
    <a class="child" routerLink="vehicles" routerLinkActive="active">VEHICLES</a>
    <a class="child" routerLink="contact" routerLinkActive="active">CONTACT</a>
  </div>

  <div class="Sinhgad" style="padding: 0px; padding-top: 5px; padding-right: 10px;">
    <img class="SCOE-logo" src="/assets/image/sponsors_image/HYP LOGO/SCOE WHITE LOGO.png" alt="SCOELOGO" style="min-width: 70px;
  max-height: 65px;">
  </div>
</nav>

<div class="page-container">
  <router-outlet></router-outlet>
  <footer style="background:#222; color:#fff; text-align:center; padding:20px;">
    <div class="block1" style="align-items: left;">
      <div class="sub-block1" style="height: auto;">
        <p>&copy; 2025 STES Hyperion. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
</div>

