<div class="image-container-five">
  <img src="/assets/image/Vehicles/5O.jpg" alt="Responsive Image">
</div>

<div class="parent-container">
  <h2 class="title">INFINITI 5.O</h2>

  <div class="child-container">
    <div class="child">
        <div>
            <h1>battery</h1>
            <h4>5666W</h4>
        </div>
        <div>
            <h1>battery</h1>
            <h4>5666W</h4>
        </div>
        <div>
            <h1>battery</h1>
            <h4>5666W</h4>
        </div>
    </div>
    <div class="child">
        <div>
            <h1>battery</h1>
            <h4>5666W</h4>
        </div>
        <div>
            <h1>battery</h1>
            <h4>5666W</h4>
        </div>
        <div>
            <h1>battery</h1>
            <h4>5666W</h4>
        </div>
    </div>
  </div>
</div>
