.image-container-five{
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-container-five img{
  max-width: 100%;
  height: auto;
}

/* for content */

.parent-container {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  -webkit-box-reflect: below -0.8px linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.4) 100%);
}

.child-container {
  display: flex;
  gap: 20px;              /* spacing between children */
  justify-content: center;
  flex-wrap: wrap;        /* helps on smaller screens */
}

.child {
  flex: 1 1 45%;          /* take ~45% width on desktop */
  min-width: 250px;       /* don’t shrink too small */
  /* padding: 20px; */
  background-color: #f3f3f3;
  border-radius: 8px;
}

/* Mobile view (stacked) */
@media (max-width: 768px) {
  .child-container {
    flex-direction: column;   /* stack vertically */
    align-items: center;
  }

  .child {
    width: 90%;               /* take most of mobile width */
  }
}
