<div class="image-container-five">
  <img src="/assets/image/Vehicles/5O.jpg" alt="Responsive Image">
</div>

<div class="parent-container">
  <div class="parent-container-inside">
        
    <h1 class="title">INFINITI 5.O</h1>

    <div class="child-container" style="font-family:Arial, Helvetica, sans-serif;">
        <div class="child">
            <div>
                <h2>Year</h2>
                <h4 style="color: aliceblue;">2022</h4>
            </div>
            <div>
                <h2>Motor</h2>
                <h4 style="color: aliceblue;">3.5 kW 
                    <span style="font-size: small;">(BLDC Mid-drive motor)</span>
                </h4>
            </div>
            <div>
                <h2>Battery</h2>
                <h4 style="color: aliceblue;"> 51.2 V, 60 Ah 
                    <span style="font-size: small;">Li-ion (3 kWh)</span>
                </h4>
            </div>
            <div>
                <h2>Solar</h2>
                <h4 style="color: aliceblue;"> 650 W 
                    <span style="font-size: small;">(flexible cells)</span>
                </h4>
            </div>
        </div>
        <div class="child">
            <div>
                <h2>Weight</h2>
                <h4 style="color: aliceblue;">220 kg</h4>
            </div>
            <div>
                <h2>Top Speed</h2>
                <h4 style="color: aliceblue;">80 km/h</h4>
            </div>
            <div>
                <h2>Range</h2>
                <h4 style="color: aliceblue;">90 km</h4>
            </div>
        </div>
    </div>
  </div>
</div>
