<div style="height: 70px; background-color : black; width: 100%;"></div>

<div class="team-body">

    <!-- <div class="blank"></div> -->

    <div class="top-image">
        <div class="title">
            <!-- <h1>OUR TEAM</h1> -->
        </div>
        
        <div class="introduction">
           
        </div>
    </div>

    <!-- <div class="team-data">
        <div class="leader">
            <div class="l-title">
                <h1>TEAM LEADER</h1>
            </div>
            <div class="block">
                 Create leaders blocks here -->
            <!-- </div>
        </div>

        <div class="core-team">
            <div class="c-title">
                <h1>CORE TEAM</h1>
            </div>
            <div class="block">
                Create core team blocks here
             </div>
        </div>

        <div class="vehicle-dynamics-team">
            <div class="v-title">
                <h1>VEHICLE DYNAMICS</h1>
            </div>
            <div class="block">
                Create blocks here
            </div>
        </div> -->



    <!-- </div> -->



















    <!-- main full sized block -->

    <div class="main-full-block">
        <div class="main-full-block-border">
            <h1>hddjdjdjdjdjdndndd</h1>
        </div>
    </div>


</div>