<p>team works!</p>

<div class="team-body">

    <div class="blank"></div>

    <div class="top-image">
        <div class="title">
            <h1>OUR TEAM</h1>
        </div>
        
        <div class="introduction">
            <p>
                The STES Hyperion team is a group of passionate and skilled professionals dedicated to pushing the boundaries of technology.
                We are committed to developing innovative solutions that tackle complex challenges and create a meaningful impact.
                Our collaborative spirit and expertise in various domains enable us to transform ambitious ideas into tangible realities.
            </p>
        </div>
    </div>

    <div class="team-data">
        <div class="leader">
            <div class="l-title">
                <h1>TEAM LEADER</h1>
            </div>
            <div class="block">
                <!-- Create leaders blocks here -->
            </div>
        </div>

        <div class="core-team">
            <div class="c-title">
                <h1>CORE TEAM</h1>
            </div>
            <div class="block">
                <!-- Create core team blocks here -->
            </div>
        </div>

        <div class="vehicle-dynamics-team">
            <div class="v-title">
                <h1>VEHICLE DYNAMICS</h1>
            </div>
            <div class="block">
                <!-- Create blocks here -->
            </div>
        </div>



    </div>

</div>