<div style="height: 70px; background-color : black; width: 100%;"></div>

<div class="team-body">

    <!-- <div class="blank"></div> -->

    <div class="top-image">
        <div class="title">
            <!-- <h1>OUR TEAM</h1> -->
        </div>
        
        <div class="introduction">
           
        </div>
    </div>













    <!-- main full sized block -->

    <div class="main-full-block">
        <div class="main-full-block-border">
            


            <!--============================- CORE TEAM -========================-->

            <div class="core-team">



                <!-- +++++++++++ TEAM manager ++++++++++Mugdha -->
                <div class="leader">

                    <!-- give the title -->
                    <div class="members-title">
                        <p>TEAM CAPTAIN</p>
                    </div>

                    <!-- image -->
                    <img class="img-circle" src="/assets/team_members/mugdha.JPG">

                    <!-- name -->
                    <p class="name">MUGDHA GANU</p>

                    <!-- role in teal -->
                     <div class="role">TEAM LEADER</div>
                    <!-- linked in -->
                    <a
                        href="https://www.linkedin.com/in/mugdha-ganu-2430752a1/"
                        target="_blank"
                        aria-label="LinkedIn"
                        >
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>

                <!--+++++++++++ TEAM OTHER LEADERS ++++++++++++-->
                <div class="body">

                    <!-- ADMINISTRATOR -->

                                    <!-- +++++++++++ TEAM administrator ++++++++++durvesh -->
                                <div class="leader">

                                    <!-- give the title -->
                                    <div class="members-title">
                                        <p>ADMINISTRATOR</p>
                                    </div>

                                    <!-- image -->
                                    <img class="img-circle" src="/assets/team_members/durvesh.JPG">

                                    <!-- name -->
                                    <p class="name">DURVESH VIKHANKAR</p>

                                    <!-- role in teal -->
                                    <div class="role">CAE</div>
                                    <!-- linked in -->
                                    <a
                                        href="https://www.linkedin.com/in/durvesh-vikhankar-6a0093222"
                                        target="_blank"
                                        aria-label="LinkedIn"
                                        >
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </div>

                                <!-- . -->


                    <!-- TREASURER head -->

                                    <!-- +++++++++++ TEAM Treasurer ++++++++++ADITYA -->
                                <div class="leader">

                                    <!-- give the title -->
                                    <div class="members-title">
                                        <p>TREASURER</p>
                                    </div>

                                    <!-- image -->
                                    <img class="img-circle" src="/assets/team_members/aditya.jpg">

                                    <!-- name -->
                                    <p class="name">ADITYA RAUT</p>

                                    <!-- role in teal -->
                                    <div class="role">ELECTRICAL ENGINEER</div>
                                    <!-- linked in -->
                                    <a
                                        href="http://www.linkedin.com/in/aditya-raut-051083266"
                                        target="_blank"
                                        aria-label="LinkedIn"
                                        >
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </div>

                                <!-- . -->


                    <!-- MECHANICAL LEAD -->

                                    <!-- +++++++++++ MECHANICAL HEAD ++++++++++PARTH -->
                                <div class="leader">

                                    <!-- give the title -->
                                    <div class="members-title">
                                        <p>MECHANICAL HEAD</p>
                                    </div>

                                    <!-- image -->
                                    <img class="img-circle" src="/assets/team_members/parth.jpeg">

                                    <!-- name -->
                                    <p class="name">PARTH CHENNUR</p>

                                    <!-- role in teal -->
                                    <div class="role">STEERING | SUSPENSION</div>
                                    <!-- linked in -->
                                    <a
                                        href="https://www.linkedin.com/in/parth-chennur-404112224"
                                        target="_blank"
                                        aria-label="LinkedIn"
                                        >
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </div>

                                <!-- . -->


                    <!-- ELECTRICAL  -->

                                    <!-- +++++++++++ TEAM ELECTRICAL HEAD ++++++++++SANKALP -->
                                <div class="leader">

                                    <!-- give the title -->
                                    <div class="members-title">
                                        <p>ELECTRICAL HEAD</p>
                                    </div>

                                    <!-- image -->
                                    <img class="img-circle" src="/assets/team_members/sankalp.png">

                                    <!-- name -->
                                    <p class="name">SANKALP WASNIK</p>

                                    <!-- role in teal -->
                                    <div class="role">ELECTRICAL ENGINEER</div>
                                    <!-- linked in -->
                                    <a
                                        href="https://www.linkedin.com/in/sankalp-wasnik-830834293"
                                        target="_blank"
                                        aria-label="LinkedIn"
                                        >
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </div>

                                <!-- . -->


                    <!-- SOLAR -->

                                    <!-- +++++++++++ TEAM SOLAR ++++++++++ADITI -->
                                <div class="leader">

                                    <!-- give the title -->
                                    <div class="members-title">
                                        <p>SOLAR HEAD</p>
                                    </div>

                                    <!-- image -->
                                    <img class="img-circle" src="/assets/team_members/aditi.JPG">

                                    <!-- name -->
                                    <p class="name">ADITYA PANGANTI</p>

                                    <!-- role in teal -->
                                    <div class="role">ELECTRICAL | SOLAR</div>
                                    <!-- linked in -->
                                    <a
                                        href="https://www.linkedin.com/in/aditi-panganti-338053331"
                                        target="_blank"
                                        aria-label="LinkedIn"
                                        >
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </div>

                                <!-- . -->


                    <!-- AUTONOMOUS -->

                                    <!-- +++++++++++ TEAM AUTONOMOUS ++++++++++JAYESH -->
                                <div class="leader">

                                    <!-- give the title -->
                                    <div class="members-title">
                                        <p>AUTONOMOUS HEAD</p>
                                    </div>

                                    <!-- image -->
                                    <img class="img-circle" src="/assets/team_members/jayesh.jpeg">

                                    <!-- name -->
                                    <p class="name">JAYESH SONAWANE</p>

                                    <!-- role in teal -->
                                    <div class="role">AUTONOMOUS DRIVING</div>
                                    <!-- linked in -->
                                    <a
                                        href="https://www.linkedin.com/in/jayesh-sonawane-752851263"
                                        target="_blank"
                                        aria-label="LinkedIn"
                                        >
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </div>

                                <!-- . -->
                </div>

            </div>








            
            
            <!--=============================- SENIOR ENGINEERING TEAM -===============-->

            <div class="core-team">




                <div class="leader" style="padding-top: 100px; padding-bottom: 100px;">

                    <!-- give the title -->
                    <div class="main-title">
                        <p>CORE TEAM</p>
                    </div>

                </div>

                <!--+++++++++++ TEAM OTHER core team ++++++++++++-->
                <div class="body core-members">

                    <!-- steering -->

                                    <!-- +++++++++++ steering suspension ++++++++++mandeep -->
                                <div class="leader">

                                    <!-- give the title -->
                                    <div class="members-title">
                                        <p>STEERING LEAD</p>
                                    </div>

                                    <!-- image -->
                                    <img class="img-circle" src="/assets/team_members/mandeep.jpg">

                                    <!-- name -->
                                    <p class="name">MANDEEP SINGH LONIWALE</p>

                                    <!-- role in teal -->
                                    <div class="role">STEERING & SUSPENSION</div>
                                    <!-- linked in -->
                                    <a
                                        href="https://www.linkedin.com/in/mandeepsingh-loniwale-51a01b2a6"
                                        target="_blank"
                                        aria-label="LinkedIn"
                                        >
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </div>

                                <!-- . -->


                    <!-- ANALYSIS head -->

                                    <!-- +++++++++++ TEAM ANALYSIS ++++++++++ADWAIT -->
                                <div class="leader">

                                    <!-- give the title -->
                                    <div class="members-title">
                                        <p>ANALSYS LEAD</p>
                                    </div>

                                    <!-- image -->
                                    <img class="img-circle" src="/assets/team_members/adwait.JPG">

                                    <!-- name -->
                                    <p class="name">ADWAIT LAWATE</p>

                                    <!-- role in teal -->
                                    <div class="role">ANALYSIS</div>
                                    <!-- linked in -->
                                    <a
                                        href="https://www.linkedin.com/in/adwait-lawate-7a501b274"
                                        target="_blank"
                                        aria-label="LinkedIn"
                                        >
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </div>

                                <!-- . -->


                    <!-- BRAKING LEAD -->

                                    <!-- +++++++++++ BRAKING HEAD ++++++++++OMKAR -->
                                <div class="leader">

                                    <!-- give the title -->
                                    <div class="members-title">
                                        <p>BRAKING LEAD</p>
                                    </div>

                                    <!-- image -->
                                    <img class="img-circle" src="/assets/team_members/omkar.jpg">

                                    <!-- name -->
                                    <p class="name">OMKAR KALE</p>

                                    <!-- role in teal -->
                                    <div class="role">BRAKING | TRANSMISSION</div>
                                    <!-- linked in -->
                                    <a
                                        href="www.linkedin.com/in/omkarkale1435"
                                        target="_blank"
                                        aria-label="LinkedIn"
                                        >
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </div>

                                <!-- . -->


                    <!-- DESIGN  -->

                                    <!-- +++++++++++ TEAM DESIGN HEAD ++++++++++ANIKET -->
                                <div class="leader">

                                    <!-- give the title -->
                                    <div class="members-title">
                                        <p>DESIGN LEAD</p>
                                    </div>

                                    <!-- image -->
                                    <img class="img-circle" src="/assets/team_members/aniket.JPG">

                                    <!-- name -->
                                    <p class="name">ANIKET SAPKALE</p>

                                    <!-- role in teal -->
                                    <div class="role">BODYWORKS & DESIGN</div>
                                    <!-- linked in -->
                                    <a
                                        href="https://www.linkedin.com/in/aniket-sapkale-5909252b9"
                                        target="_blank"
                                        aria-label="LinkedIn"
                                        >
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </div>

                                <!-- . -->





                    
                </div>





            </div>





            <!-- +++++++++++++++++++++++MEDIA TEAM++++++++++++++++++++++++ -->
            <div class="core-team">

                    <div class="leader" style="padding-top: 100px; padding-bottom: 100px;">

                        <!-- give the title -->
                        <div class="main-title">
                            <p>MEDIA TEAM</p>
                        </div>

                    </div>









                    <!-- members in media team -->
                    <div class="body" style="display: flex; justify-content: center;">

                    <!-- Media head -->

                                    <!-- +++++++++++ TEAM media head ++++++++++gaurav -->
                                <div class="leader">

                                    <!-- give the title -->
                                    <div class="members-title">
                                        <p>MEDIA HEAD</p>
                                    </div>

                                    <!-- image -->
                                    <img class="img-circle" src="/assets/team_members/gaurav.JPG">

                                    <!-- name -->
                                    <p class="name">GAURAV PATIL</p>

                                    <!-- role in teal -->
                                    <div class="role">MEDIA</div>
                                    <!-- linked in -->
                                    <a
                                        href="https://www.linkedin.com/in/gaurav-patil-329088297"
                                        target="_blank"
                                        aria-label="LinkedIn"
                                        >
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </div>

                                <!-- . -->


                    <!-- MEDIA -->

                                    <!-- +++++++++++ MEDIA ++++++++++YASH -->
                                <!-- <div class="leader"> -->

                                    <!-- give the title -->
                                    <!-- <div class="members-title"> -->
                                        <!-- <p>MEDIA</p> -->
                                    <!-- </div> -->

                                    <!-- image -->
                                    <!-- <img class="img-circle" src="/assets/team_members/omkar.jpg"> -->

                                    <!-- name -->
                                    <!-- <p class="name">YASH TURAKANE</p> -->

                                    <!-- role in teal -->
                                    <!-- <div class="role">MEDIA</div> -->
                                    <!-- linked in -->
                                    <!-- <a
                                        href="https://www.linkedin.com/in/yash-turakane-4b2961352"
                                        target="_blank"
                                        aria-label="LinkedIn"
                                        >
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </div> -->

                                <!-- . -->


                    <!-- DESIGN  -->

                                    <!-- +++++++++++ TEAM DESIGN HEAD ++++++++++ANIKET -->
                                <!-- <div class="leader"> -->

                                    <!-- give the title -->
                                    <!-- <div class="members-title">
                                        <p>DESIGN LEAD</p>
                                    </div> -->

                                    <!-- image -->
                                    <!-- <img class="img-circle" src="/assets/team_members/aniket.JPG"> -->

                                    <!-- name -->
                                    <!-- <p class="name">ANIKET SAPKALE</p> -->

                                    <!-- role in teal -->
                                    <!-- <div class="role">BODYWORKS & DESIGN</div> -->
                                    <!-- linked in -->
                                    <!-- <a
                                        href="https://www.linkedin.com/in/aniket-sapkale-5909252b9"
                                        target="_blank"
                                        aria-label="LinkedIn"
                                        >
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a> -->
                                <!-- </div> -->

                                <!-- . -->


                    


                    
                </div>











            </div>















        </div>
    </div>


</div>