.sevenOimage {
  width: 100%;        /* take full width of parent */
  height: 800px;      /* full viewport height (or set custom height) */
  background-image: url('/assets/image/Vehicles/7O.jpg');
  background-size: cover;      /* ensures the image fills div fully */
  background-position: center; /* keeps image centered */
  background-repeat: no-repeat; /* avoids tiling */
}

.sevenOinfo{
    height: auto;
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

.lsevenOalldata{
  flex: 1;              /* each takes equal space */
  display: flex;        /* optional: center content */
  align-items: center;
  justify-content: center;
  color: white;
}