<!-- <div class="nav_bg"style="height: 80px; background-color: #108090;"></div> -->

<div class="welcome-page">
    
    <!-- left half -->
    <div class="left" style="background-color: aqua;" style="padding: 30px; align-items: left; padding-top: 130px">
        <div>
            <div style="display: flex; flex-direction: column; ">
                <h1>
                    STES <br>
                    <span class="highlight">HYPERION</span>
                    <span class="highlight-sentence">WE CLUTCH, WE ENDURE...</span>
                </h1>
            </div>
        </div>
    </div>

    <!-- right half -->
    
</div>

<!-- border -->
 <div style="height: 7px; width: 100%; background-color: rgb(255, 255, 255);"></div>


<!-- posts of stes hyperion -->




<!-- About stes hyperion -->
<div class="about-content">

    <!-- 1 -->
    <div class="about">
        <!-- inner title -->
        <div class="atitle">
            <h1>|ABOUT US|</h1>
        </div>
        <!-- inner content -->
        <div>
            <p>Team STES Hyperion is a Student-led Team from the Sinhgad Technical
                Education Society in Pune, India, dedicated to design, build, and race a
                next-generation Solar Vehicle.
            </p>
        </div>
    </div>

    <!-- 2 -->
    <div class="about">
        <!-- inner title -->
        <div class="atitle">
            <h1>|MISSION|</h1>
        </div>
        <!-- inner content -->
        <div>
            <p>Team STES Hyperion is a Student-led Team from the Sinhgad Technical
                Education Society in Pune, India, dedicated to design, build, and race a
                next-generation Solar Vehicle.
            </p>
        </div>
    </div>

    <!-- 3 -->
    <div class="about">
        <!-- inner title -->
        <div class="atitle">
            <h1>|GOAL|</h1>
        </div>
        <!-- inner content -->
        <div>
            <p>Team STES Hyperion is a Student-led Team from the Sinhgad Technical
                Education Society in Pune, India, dedicated to design, build, and race a
                next-generation Solar Vehicle.
            </p>
        </div>
    </div>

</div>