:host {
  display: block;
  background: gray;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.welcome-page {
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100vw;
      background-image: url('/assets/image/home_images/hmbg.jpg'); /* replace with your image path */
      background-size: cover;     /* makes image cover full screen */
      background-position: center; /* centers the image */
      background-repeat: no-repeat; /* avoids repeating */
      font-family: Arial, sans-serif;
      color: white;
      display: flex;
      justify-content: space-around;
      align-items: left;
      text-shadow: 2px black;
}
h1 {
      font-family: 'Orbitron', sans-serif !important;
      font-weight: 900;
      font-size: 2rem;
      letter-spacing: 4px;
      margin: 0 0 10px;
      /* text-shadow: 0 2px 8px rgb(152, 152, 152); */
      background: rgba(0, 0, 0, 0); /* for better text visibility */
      padding: 15px;
      border-radius: 10px;
      line-height: 1.1;
      text-shadow: 1px 1px 2px black, 2px 2px 5px gray;

}

.about-content{
      width: 100%;
      height: auto;
      background-image: url('/assets/image/home_images/homepage_bg.jpg');
      background-size: 100% auto; /* Full width, auto height */
      background-repeat: no-repeat;
      /* background-position: center top; */
      color: white;
      padding: 20px;
      display: flex;
      flex-direction: row;
      gap: 20px
}

.about{
  background-color: rgba(0, 0, 0, 0.44);
  border: 2px solid white;
  border-radius: 8px;
}

h1 .highlight {
  line-height: 1.1;
  display: block;    /* forces new line */
  font-size: 5rem;   /* larger size */
  font-weight: bold; /* bold */
}

.highlight-sentence{
      font-family: 'Kings', serif;
      font-size: 1rem;
}

/* Mobile view (max width 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;  /* smaller STES */
  }

  h1 .highlight {
    font-size: 2.5rem;  /* smaller HYPERION */
  }

  h1 .highlight-sentence{
      font-size: 0.8rem;
  }
}