<!-- <p>sponsors works!</p> -->

<div class="sponsor-blank"></div>

<div class="sponsors-main-introduction">
    <div class="s-title">
        <p>
            OUR SPONSORS
        </p>
    </div>
    <div class="s-introduction">
        <!-- <p>
            Our team, STES Hyperion, is at the forefront of innovation, dedicated to transforming groundbreaking ideas into reality. We are a dynamic group of students passionate about technology and solving complex challenges.
        </p> -->
    </div>
</div>

<hr>

<div class="sponsor-main-block">
    






    <!-- sponsors of team stes hyperion -->
    <div class="sponsors-home" style="display: flex; flex-direction: column;">

        <!-- 1 title -->
        <div class="sponsors-title-home" style="padding: 20px; padding-top: 30px; text-align: center;">
            <div>
                <p>OUR SPONSORS</p>
            </div>
        </div>










        <!-- trial for sponsors -->


        <!-- 1         Financial-->
         <div>

            <!-- title -->
            <div class="sponsors-title-home" style="padding: 20px; padding-top: 30px; text-align: center;">
                <div>
                    <p>FINANCIAL SPONSORS</p>
                </div>
            </div>

            <!-- blocks -->
            <div class="sponsors-logo-home" style="width: auto; height: auto; display: flex; flex-direction: row; justify-content: center; gap: 100px;">


                <!-- logo my construction -->
                <div class="hover-wrapper">
                    <a href="https://www.myconstruction.co.in/">
                        <img class="logo-for-hover" src="/assets/image/sponsors_image/HYP LOGO/MY CONSTRUCTION.png" />

                        <!-- overlay text -->
                        <div class="hover-overlay">
                            <div class="overlay-padding">
                                <p>MY CONSTRUCTION iwwwr wrwwrwrw wrwrwrwr wrwrwrwr</p>
                            </div>
                        </div>
                    </a>
                </div>
                

            </div>


         </div>











         
        <!--          Software-->
         <div>

            <!-- title -->
            <div class="sponsors-title-home" style="padding: 20px; padding-top: 30px; text-align: center;">
                <div>
                    <p>SOFTWARE SPONSORS</p>
                </div>
            </div>

            <!-- blocks -->
            <div class="sponsors-logo-home" style="width: auto; height: auto; display: flex; flex-direction: row; justify-content: center; gap: 100px;">


                <!-- logo      solid works-->


                <div class="hover-wrapper">
                    <a href="https://www.solidworks.com/customer-story/dentium-streamlines-design-and-development-combining-solidworks-and-3dexperience-works/">
                        <img class="logo-for-hover" src="/assets/image/sponsors_image/HYP LOGO/SOLID WORKS.png">
                        <!-- overlay text -->
                        <div class="hover-overlay">
                            <div class="overlay-padding">
                                <p>SOLID WORKS iwwwr wrwwrwrw wrwrwrwr wrwrwrwr</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- logo     ansys -->
                <div class="hover-wrapper">
                    <a href="https://www.ansys.com/">
                        <img class="logo-for-hover" src="/assets/image/sponsors_image/HYP LOGO/ansys.png">
                        <!-- overlay text -->
                        <div class="hover-overlay">
                            <div class="overlay-padding">
                                <p>ANSYS iwwwr wrwwrwrw wrwrwrwr wrwrwrwr</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>


         </div>





        




        <!-- 3         In-kind-->
        <div>

            <!-- title -->
            <div class="sponsors-title-home" style="padding: 20px; padding-top: 30px; text-align: center;">
                <div>
                    <p>IN-KIND SPONSORS</p>
                </div>
            </div>

            <!-- blocks -->
            <div class="sponsors-logo-home" style="width: auto; height: auto; display: flex; flex-direction: row; justify-content: center; gap: 100px;">


                <!-- logo bentork -->
                <div class="hover-wrapper">
                    <a href="https://bentork.com/">
                        <img class="logo-for-hover" src="/assets/image/sponsors_image/HYP LOGO/Bentork.png">
                        <!-- overlay text -->
                        <div class="hover-overlay">
                            <div class="overlay-padding">
                                <p>BENTORK iwwwr wrwwrwrw wrwrwrwr wrwrwrwr</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- logo carbonext -->
                <div class="hover-wrapper">
                    <a href="https://www.carbonext.net/">
                        <img class="logo-for-hover" src="/assets/image/sponsors_image/HYP LOGO/carbonextblack.png">
                        <!-- overlay text -->
                        <div class="hover-overlay">
                            <div class="overlay-padding">
                                <p>CARBONEXT iwwwr wrwwrwrw wrwrwrwr wrwrwrwr</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- logo adish-gears -->
                <div class="hover-wrapper">
                    <a href="https://www.aadishgears.com/">
                        <img class="logo-for-hover" src="/assets/image/sponsors_image/HYP LOGO/adish_gears.png">
                        <!-- overlay text -->
                        <div class="hover-overlay">
                            <div class="overlay-padding">
                                <p>AADISH GEARS iwwwr wrwwrwrw</p>
                                <p>AADISH GEARS iwwwr wrwwrwrw</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>


        </div>
        
</div>