<!-- <p>sponsors works!</p> -->

<div class="sponsor-blank"></div>

<div class="sponsors-main-introduction">
    <div class="s-title">
        <p>
            OUR SPONSORS
        </p>
    </div>
    <div class="s-introduction">
        <!-- <p>
            Our team, STES Hyperion, is at the forefront of innovation, dedicated to transforming groundbreaking ideas into reality. We are a dynamic group of students passionate about technology and solving complex challenges.
        </p> -->
    </div>
</div>

<hr>

<div class="sponsor-main-block">
    






    <!-- sponsors of team stes hyperion -->
    <div class="sponsors-home" style="display: flex; flex-direction: column;">

        <!-- 1 title -->
        <div class="sponsors-title-home" style="padding: 20px; padding-top: 30px; text-align: center;">
            <div>
                <p>Our sponsorS</p>
            </div>
        </div>










        <!-- trial for sponsors -->






























































        <!-- 2 logos -->
         <div class="sponsors-logo-home" style="padding: 20px;">

            <!-- logo L1 myconstruction-->
            <div style="width: 100px; height: auto;">
                <a href="https://www.myconstruction.co.in/">
                    <img class="logo-for-hover" src="/assets/image/sponsors_image/HYP LOGO/MY CONSTRUCTION.png">
                </a>
            </div>


            <!-- logo L2 bentork-->
            <div style="width: 100px; height: auto;">
                <a href="https://bentork.com/">
                    <img class="logo-for-hover" src="/assets/image/sponsors_image/HYP LOGO/Bentork.png">
                </a>
            </div>


            <!-- logo L3 solidworks-->
            <div style="width: 100px; height: auto;">
                <a href="https://www.solidworks.com/customer-story/dentium-streamlines-design-and-development-combining-solidworks-and-3dexperience-works/">
                    <img class="logo-for-hover" src="/assets/image/sponsors_image/HYP LOGO/SOLID WORKS.png">
                </a>
            </div>


            <!-- logo L4 ansys-->
            <div style="width: 100px; height: auto;">
                <a href="https://www.ansys.com/">
                    <img class="logo-for-hover" src="/assets/image/sponsors_image/HYP LOGO/ansys.png">
                </a>
            </div>

            <!-- logo L5 cabonext-->
            <div style="width: 100px; height: auto;">
                <a href="https://www.carbonext.net/">
                    <img class="logo-for-hover" src="/assets/image/sponsors_image/HYP LOGO/carbonextblack.png">
                </a>
            </div>

            <!-- logo L6 adishgears-->
            <div style="width: 100px; height: auto;">
                <a href="https://www.aadishgears.com/">
                    <img class="logo-for-hover" src="/assets/image/sponsors_image/HYP LOGO/adish_gears.png">
                </a>
            </div>

        
</div>