<!-- <p>sponsors works!</p> -->

<div class="sponsor-blank"></div>

<div class="sponsors-main-introduction">
    
    <div class="main-title one">
        <p>
            SPONSORS
        </p>
    </div>


    <div class="main-title two">
        <p>
            Driven by Your Support
        </p>
    </div>


</div>

<hr>

<div class="sponsor-main-block">
    






    <!-- sponsors of team stes hyperion -->
    <div class="sponsors-home" style="display: flex; flex-direction: column;">

        <!-- 1 title -->
        <div class="sponsors-title-home sth" style="padding: 20px; padding-top: 30px; text-align: center;">
            <div>
                <p>OUR SPONSORS</p>
            </div>
        </div>










        <!-- trial for sponsors -->


        <!-- 1         Financial-->
         <div>

            <!-- title -->
            <div class="sponsors-title-home" style="padding: 20px; padding-top: 30px; text-align: center;">
                <div style="padding-top: 150px; padding-bottom: 80px;">
                    <p>FINANCIAL SPONSORS</p>
                </div>
            </div>

            <!-- blocks -->
            <div class="sponsors-logo-home" style="width: auto; height: auto; display: flex; flex-direction: row; justify-content: center; gap: 100px;">


                <!-- logo my construction -->
                <div class="hover-wrapper">
                    <a href="https://www.myconstruction.co.in/">
                        <img class="logo-for-hover" src="/assets/sponsors/myconstruction.png" />

                        <!-- overlay text -->
                        <div class="hover-overlay">
                            <div class="overlay-padding">
                                <p style="text-align: center;">MY CONSTRUCTION</p>
                                <p style="text-align: center;">Pune-based company with construction projects across India. The company has been proudly sponsoring Team STES Hyperion since its very first year.</p>
                            </div>
                        </div>
                    </a>
                </div>
                

            </div>


         </div>











         
        <!--          Software-->
         <div>

            <!-- title -->
            <div class="sponsors-title-home" style="padding: 20px; padding-top: 30px; text-align: center;">
                <div style="padding-top: 150px; padding-bottom: 80px;">
                    <p>SOFTWARE SPONSORS</p>
                </div>
            </div>

            <!-- blocks -->
            <div class="sponsors-logo-home" style="width: auto; height: auto; display: flex; flex-direction: row; justify-content: center; gap: 100px;">


                <!-- logo      solid works-->


                <div class="hover-wrapper">
                    <a href="https://www.solidworks.com/customer-story/dentium-streamlines-design-and-development-combining-solidworks-and-3dexperience-works/">
                        <img class="logo-for-hover" src="/assets/sponsors/solidworks.png">
                        <!-- overlay text -->
                        <div class="hover-overlay">
                            <div class="overlay-padding">
                                <p style="text-align: center;">SOLID WORKS</p>
                                <p style="text-align: center;">SolidWorks, a leading 3D CAD software, is one of our recent sponsors, supporting our vehicle design and development</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- logo     ansys -->
                <div class="hover-wrapper">
                    <a href="https://www.ansys.com/">
                        <img class="logo-for-hover" src="/assets/sponsors/ansys.png">
                        <!-- overlay text -->
                        <div class="hover-overlay">
                            <div class="overlay-padding">
                                <p style="text-align: center;">ANSYS</p>
                                <p style="text-align: center;">ANSYS, a global leader in engineering simulation, recently joined us as a sponsor, strengthening our analysis and testing capabilities.</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>


         </div>





        




        <!-- 3         In-kind-->
        <div>

            <!-- title -->
            <div class="sponsors-title-home" style="padding: 20px; padding-top: 30px; text-align: center;">
                <div style="padding-top: 150px; padding-bottom: 80px;">
                    <p>IN-KIND SPONSORS</p>
                </div>
            </div>

            <!-- blocks -->
            <div class="sponsors-logo-home" style="width: auto; height: auto; display: flex; flex-direction: row; justify-content: center; gap: 100px;">


                <!-- logo bentork -->
                <div class="hover-wrapper">
                    <a href="https://bentork.com/">
                        <img class="logo-for-hover" src="/assets/sponsors/bentork.png">
                        <!-- overlay text -->
                        <div class="hover-overlay">
                            <div class="overlay-padding">
                                <p style="text-align: center;">BENTORK</p>
                                <p style="text-align: center;">Bentork, a trusted manufacturer of high-performance EV batteries, is one of our recent sponsors supporting our vehicle’s power system.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- logo carbonext -->
                <div class="hover-wrapper">
                    <a href="https://www.carbonext.net/">
                        <img class="logo-for-hover" src="/assets/sponsors/carbonext.png">
                        <!-- overlay text -->
                        <div class="hover-overlay">
                            <div class="overlay-padding">
                                <p style="text-align: center;">CARBONEXT</p>
                                <p style="text-align: center;">A specialist in carbon fiber and composite solutions, is one of our recent sponsors supporting our vehicle’s lightweight design.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- logo adish-gears -->
                <div class="hover-wrapper">
                    <a href="https://www.aadishgears.com/">
                        <img class="logo-for-hover" src="/assets/sponsors/adishgears.png">
                        <!-- overlay text -->
                        <div class="hover-overlay">
                            <div class="overlay-padding">
                                <p style="text-align: center;">AADISH GEARS</p>
                                <p style="text-align: center;">Aadish Gears is a Pune-based company specializing in high-precision gear solutions. They recently joined us as a sponsor, supporting Team STES Hyperion in our ongoing journey.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- logo the random studio -->
                <div class="hover-wrapper">
                    <a href="https://therandomsstudios.com/">
                        <img class="logo-for-hover" src="/assets/sponsors/therandomstudio.jpeg">
                        <!-- overlay text -->
                        <div class="hover-overlay">
                            <div class="overlay-padding">
                                <p style="text-align: center;">THE RANDOMS STUDIO</p>
                                <p style="text-align: center;">Experts in custom apparel with premium quality, modern printing, and free design support to turn ideas into stylish reality.</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>


        </div>
        
</div>