:host{
    display: block;
    background: linear-gradient(190deg, white 0%, black 100%);
    min-height: 100vh;
    width: 100%;
}

.sponsor-blank{
    padding: 0;
    margin: 0;
    /* height: 80px; */
}

.sponsors-main-introduction{
    background-image: url('/assets/image/sponsors_image/anime_INFINITI7.png');
    /* filter: grayscale(70%); */
    background-size: cover;
    background-position: center;
    height: 300px; /* how tall the image area is */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    min-height: 625px;
}

.s-title, .s-introduction{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    letter-spacing: 1px; 
}

.s-title{
    padding: 80px;
    font-size: 80px;
    font-weight: 800;
    justify-content: flex-start;
}

.s-introduction{
    padding: 80px;
    font-size: x-large;
    justify-content: flex-start;
}
.sponsor-main-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* or space-around / space-between */
  gap: 20px; /* space between blocks */
  padding: 20px;
}

.smb1 {
  min-width: 200px;
  max-width: 300px;
  min-height: 300px;
  background: #36ebff;
  flex: 1 1 250px; /* allows blocks to resize */
}

.smb1:hover{
  background: #900303;
  color: white;
}

hr {
  border: none;           /* Remove default border */
  height: 2px;            /* Thickness of the line */
  background-color: #000000; /* Color of the line */
  margin: 20px 0;         /* Space above and below */
}
